@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:ital@1&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-family: 'Comfortaa', cursive;
}

body {
    background: #F2994A;
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    background: linear-gradient(to right, #F2C94C, #F2994A);
    min-height: 100vh;
}

.dark-mode-container {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.212);
}

.dark-mode {
    color: #F6F1D5;
}

/* FORM */
form input {
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 100%;
    outline: none;
    color: grey;
    font-family: monospace;
}

form input:focus {
    outline: 2px solid black;
}

form button {
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    transition: 0.3s ease-in-out;
    transition: 0.1s transform ease-in-out;
    width: min-content;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form button:hover {
    color: black;
    background-color: white;
}

form button:active {
    transform: scale(0.95);
}

/* TABLE */
.error {
    color: white;
    background-color: #D2042D;
}

.truth-table {
    width: 100%;
    letter-spacing: 3px;
    overflow-x: auto;
    border-radius: 5px 5px 0px 0px;
}

table,
.truth-table-category {
    width: 100%;
    background-color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}


.truth-table-category {
    border-radius: 8px;
}

.truth-table-category h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 10px;
}

.truth-table-category .tautology {
    color: #00A36C;
}

.truth-table-category .contradiction {
    color: #D2042D;
}

.truth-table-category .contingency {
    color: #69544D;
}

table {
    color: black;
    border-radius: 5px 5px 0px 0px;
}

thead tr th {
    border-bottom: 1px solid grey;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid rgb(185, 185, 185);
}

tbody tr {
    transition: 0.15s ease-in-out;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.151);
    cursor: cell;
}

th,
td {
    font-family: 'Comfortaa', cursive;
    padding: 10px 20px;
    white-space: nowrap;
}

td.true {
    color: #00A36C;
}

td.false {
    color: #D2042D;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: black;
    height: 40px;
    z-index: 999;
}

.footer-space {
    padding-bottom: 60px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(202, 202, 202);
    border-radius: 0px 0px 5px 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px 0px 5px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}